
body{
    background:#eee;
    margin-top:50px;
}
/********************
        TEAM
*********************/
.team-bg {
  padding: 180px 0px 180px 0px;

  background-size: cover;
  position: fixed;
  background-position: center center;
}


.team-box {
  position: fixed;
  overflow: hidden;
  height: 100px;
}

.team-name {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px;
}

.team-img {
  position: fixed;
  overflow: hidden;
  display: block;
  
}



.blog-details-icons li {
  margin: 2px !important;
}

.blog-details-icons li a {
  height: 32px;
  width: 32px;
  color: #5e2d2d;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  line-height: 10px;
  border-radius: 50%;
  border: 1px solid #777777;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-details-icons li a:hover {
  background-color: #ff4f6c;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-color: #ff4f6c;
}

.blog-datails-item li a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-datails-item li a:hover {
  color: #ff4f6c !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 6px;
  margin-right: 6px;
}

body{margin-top:20px;
    background:#eee;
    }
    
    /* ===== ABOUT PAGE ===== */
    .team-item {
      padding: 20px;
      padding-right: 0;
      position: relative;
      z-index: 0;
    }
    
    .team-item:after, .team-item:before {
      content: "";
      position: absolute;
      -webkit-box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
              box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
      border-radius: 10px;
      z-index: -1;
    }
    
    .team-item:before {
      height: 370px;
      background-color: #ffffff;
      left: 0px;
      top: 0px;
      right: 0px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    /*rathuwena eka*/
    .team-item:after {
      height: 0px;
      width: calc(100% );
      background-color: #cc3139;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
    
    .team-item:hover:after {
      height: 100%;
    }
    
    .team-item .img-holder {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
              box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
      border-radius: 10px;
      width: calc(100% - 0px);
      margin-bottom: 0px;
      overflow: hidden;
    }
    
    .team-item .img-holder img {
      border-radius: 8px;
      width: 250px;
      height: 200px;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .team-item:hover .img-holder img {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    
    .team-item .socials {
      position: absolute;
    }
    
    .team-item .socials a {
      display: block;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
    }
    
    .team-item .socials a:last-of-type {
      margin-bottom: 0;
    }
    
    .team-item .team-content {
      margin-right: 0px;
      text-align: center;
    }
    
    .team-item .team-content h6 {
      color: #a73c3c;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    
    .team-item .team-content p {
      color:  #d15656;   /*text color */
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      font-weight: 200px;
      font-size: 14px;
      text-align: center;
      margin-top: 1%;
    }
    
    .team-item:hover .team-content h6, .team-item:hover .team-content p {
      color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .d-inline-block {
        display: inline-block!important;
        width: 200px;
        height: 200px;
    } 
    
   
    
    .mb-2, .my-2 {
        
        text-align: center;
        margin-top: .3rem;
        
    }
    
    .h6 {
        font-size: 21px;
        text-align: center;

        
    }
    
    .mb-30 {
        margin-bottom: 4px;
    }

    .button{
       font-weight: 600;
      background-color:rgb(136, 38, 38) ;
      color: #fff;
      font-size: 17px;
      width: 220px;
      height: 30px;
      border: 0cm;
      bottom: 7rem;
      border-radius: 10px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      
    }
  
    
    .button:hover{
      
      background-color:rgb(253, 249, 249) ;
      color: #642424;
      font-size: 17px;
      width: 200px;
      height: 30px;
      border: 0cm;
      border-radius: 10px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      
    }
  
    .btn{
      background:rgb(136, 38, 38);
      border-radius:45%;
      font-size:15px;
      color:#fff;
      margin:0 5px;
      width: 40px;
      height: 40px;
      
  }
  .btn:hover{
    -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-color:rgb(253, 249, 249) ;
      color: #642424;

  }