

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Order Now</h5>
					<ul class="list-unstyled quick-links">
						<li (click)="onpizza()"><a routerLink="pizzas" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Pizza</a></li>
						<li (click)="onburger()"><a routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Burger</a></li>
						<li (click)="onsub()"><a routerLinkActive="active" ><i class="fa fa-angle-double-right"></i>Submarine</a></li>
						<li (click)="oncrispy()"><a ><i class="fa fa-angle-double-right"></i>Crispy Chicken 05 PC</a></li>
						<li (click)="onbev()"><a ><i class="fa fa-angle-double-right"></i>Beverages</a></li>
						<li (click)="ondessert()"><a ><i class="fa fa-angle-double-right"></i>Desserts</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>About</h5>
					<ul class="list-unstyled quick-links">
						<li (click)="onabout()"><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Info</a></li>
						<li (click)=" oncontact()"><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact </a></li>
						
					
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Follow Us</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.facebook.com/RealPizza.Srilanka"><i class="fa fa-angle-double-right"></i>FaceBook</a></li>
						<li><a href="https://www.facebook.com/RealPizza.Srilanka"><i class="fa fa-angle-double-right"></i>Intragram</a></li>
						
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>		
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.bootdey.com/">realpizza.com</a></u> </p>
					<p class="h6">&COPYRIGHT © 2018 ALL RIGHTS RESERVED BY REAL PIZZA™
						THE GOLDEN ARCHES LOGO AND "I'M LOVIN' IT" ARE TRADEMARKS OF REAL PIZZA'S CORPORATION AND ITS AFFILIATES.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank"></a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
