
 <!--new sidenav-->
<br><br><br><br><br>
 <div class="row">
    <div class="col-xl-12">

    <div id="sidebar-wrapper">
      <div class="col-xl-3">
        <ul class="sidebar-nav">
            <br>
            <li>
              <button class="btn" (click)="onpizza()">
             
        <a routerLinkActive="active">Pizza</a> </button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="onburger()">
           
          <a routerLinkActive="active">Burger</a></button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="  onsub()">
                
          <a routerLinkActive="active">Submarine</a> <span></span></button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="oncrispy()">
             
          <a routerLinkActive="active">Crispy Chicken</a> <span></span></button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="onbevarage()">
              
          <a routerLinkActive="active">Beverages</a> <span></span></button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="ondessert()">
                
          <a routerLinkActive="active">Desserts</a><span></span> </button> 
            </li><br>
            
          
        </ul>
      </div>
    </div>
    </div>
 </div>

    

    

    