<br>
<div class="container">
    <div class="row list-project">
        <div class="col-md-7">
            <img [src]= "bevarages.imageURL"  alt="" alt="project-image" width="500px" height="500px" class="rounded tablet-top">
        </div>
        <!-- / column -->
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>{{bevarages.name}}</h5>
                <p>{{bevarages.details}}</p>
            </div>
            <!-- / project-info-box -->

            <div class="project-info-box mb-10">
                <p><b>Food Price :</b> {{bevarages.price}}</p>
          </div>
<br>
         

