

   <!--new sidenav-->
   <br>
   <div class="row">
    <div class="col-xm-12">
  
    <div id="sidebar-wrapper">
      <div class="col-md-2">
        <ul class="sidebar-nav">
            <br>
            <li>
              <button class="btn" (click)="onpizza()">
              
        <a routerLinkActive="active">Pizza</a> </button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="onburger()">
            
          <a routerLinkActive="active">Burger</a></button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="onsubmarine()">
               
          <a routerLinkActive="active">Submarine</a></button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="oncrispy()">
           
          <a routerLinkActive="active">Crispy Chicken</a> </button> 
            </li><br>
            
            <li>
              <button class="btn" (click)="onbevarage()">
               
          <a routerLinkActive="active">Beverage</a> </button> 
            </li><br>
            
            <li>
              <button class="btn" (click)=" ondessert()">
                
          <a  routerLinkActive="active">Desserts</a></button> 
            </li><br>
            
            
        </ul>
      </div>
    </div>
    </div>
  </div>
  