
body{
    background:#7e3434;    
}

#wrapper {
    padding-left: 0;
    bottom: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 9999;
    position : relative;
    left: 250px;
    width: 0;
    margin-left: -250px;
    overflow-y: auto;
    /*nav eke border color eka*/
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    box-shadow: inset -1px 0px 0px 0px #DDDDDD;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgb(17, 7, 7);
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 25px;
    line-height: 60px;
    font-family: inherit;
    
}

.sidebar-nav > .sidebar-brand a {
    color: #aa4747;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #ffffff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#sidebar-wrapper li.active > a:after {
    border-left: 17px solid #ebd8d8;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px;
}



.sidebar-brand {
    padding: 18px 0px;
    margin: 0 20px;
    font-size: 15px;
}

.navbar .navbar-nav > li > a p {
    display: inline-block;
    margin: 0;
}
p {
    font-size: 16px;
    line-height: 1.4em;
}

.navbar-default {
    background-color: #ebd9d9;
    border:none;
    border-bottom: 1px solid #d1bfbf;
}



  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
 
  /*new btn*/

  /* .btn {
    border: none;
    margin-top: -20px;
    color: #fff;
    background-image: linear-gradient(30deg, #8d3232, rgb(185, 47, 47));
    border-radius: 20px;
    width: 12em;
    height: 70px;
    bottom: 10%;
    left: 0px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 19px;
    font-weight: 600;
    padding: 0.6em 1.5em;
   }
   
   .btn:hover {
    background-position: left center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #da0a0aef;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   } */

   .btn{
    width: 12em;
    position: relative;
    height: 3.7em;
    border: 3px ridge #ea1426;
    outline: none;
    background-image: linear-gradient(30deg, #b96b6b, rgb(185, 47, 47));
    color: rgb(252, 248, 248);
    transition: 1s;
    bottom: 0.1em;
    border-radius: 0.3em;
    font-size: 18px;
    font-weight: bold;
    padding: 0.6em 1.5em;
    margin-top: -5%;
  }
  

 
  
  .btn:hover::before, .btn:hover::after {
    transform: scale(0)
  }
  
 .btn:hover {
    box-shadow: inset 0px 0px 25px #aa0909;
  }
   
   
