<header class="nav-bar">
    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-md-3">
    <a routerLink="page" routerLinkActive="active" class="nav-link"><img src="assets\images\realpizza-logo.png" height="70px" class="puca"></a>
                </div>



<div class="col-md-1">
    <button class="shadow"
        (click)="onmenu()">
        Menu
    </button>&nbsp;
    </div>

&nbsp;
    <div class="col-md-1">
        <button class="shadow2"
            routerLink="dashboard">
            DashBoard
        </button>
        </div>

    
</div>
</div>

    </div>
</header>
