
<br>
<div class="card"><br>
    <h2 class="about">ABOUT US</h2>
    <br>
    <h4 class="bout">Real Pizza, a subsidiary of Yum! Brands, Real Pizza began 5 years ago  <br>and today is farmous that delivers more pizza,
        
        Since its inception in 2018, Real Pizza has fast become a household name across Our Area.<br> With its first restaurant at Union Place,

         In 2020,  Real Pizza ventured into the home delivery service setting in Our Located area. <br>

        To date, Real pizza employs over 12 staff members with diverse backgrounds. As an equal opportunity employer, The company strongly believes in creating a results oriented fun working environment.<br>

         Over the past 5 years, Real Pizza has grown from strength to strength. At Real Pizza, we believe in delighting the senses of each and every customer. <br>This is why all dine-in outlets offer a unique family friendly dine-in,<br> experience whilst effectively capturing the 

        gastronomic palate of the Sri Lankan consumer with innovative additions to its menu. <br>Currently Real Pizza serves a wide range of pizza toppings with an<br> exciting selection of special crusts as well as buns,crispy chicken, desserts and beverages.
        
        
    </h4>
</div>
<br>
