
<br><br><br><br><br>
<div class="container" >
       
    <div class="row justify-content-center"  >
        <div *ngFor="let submarine of submarine"class="col-md-6 col-lg-4 mb-30" >
         
            <div class="team-item" >
                
                <div class="mb-30 position-relative d-flex align-items-center">
                    <span class="img-holder d-inline-block">
                        <img [src]= "submarine.imageURL" alt="" class="img-responsive"  height="200px">
                       
                    </span>
            </div>
     
           <div class="team-content">
                <h6 class="mb-2" > {{submarine.name}}</h6>
                <p class="text-uppercase mb-0">Rs.{{submarine.price}}</p>
                <p class="text-uppercase mb-0">{{submarine.details}}</p>
                <div class="Content">
                    <button type="button" class="btn" (click)="inc(submarine)"><i class="fa fa-plus"></i></button>
                    <span>{{submarine.quantity}}</span>
                    <button type="button" class="btn" (click)="dec(submarine)"><i class="fa fa-minus"></i></button>
                        </div>
                        &nbsp;
                <button class="button" type="submit" (click)="addToCart(submarine)">Add To Cart</button>
               
            </div>
        
        </div>
   
    </div>
    
</div>      
