.form {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    height: 555px;
    padding: 20px 40px;
    background-image: linear-gradient(40deg, #887474e0, rgb(179, 29, 24));
    box-shadow: 2px 2px 10px black;
    transition: .2s linear;
    
  }
  
  .form button {
    align-self: flex-end;
    justify-content: center;
  }
  
  
  
  .label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: -10.6px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-top: -5%;
  }

  .input {
    height: 35px;
    width: 100%;
    border: 0.5px solid white;
    background-color: rgb(196, 187, 187);
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: .2s linear;
    position: relative;
  }
  
  .input:focus {
    outline: none;
    background-color: rgba(173, 173, 173, 0.233);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.137);
  }
  
  button {
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    transition: .2s linear;
    color: rgb(3, 3, 3);
    font-weight: 600;
    
  }
  
  button:hover {
    background-color: rgba(209, 180, 14, 0.74);
    box-shadow: 2px 2px 10px rgba(124, 124, 124, 0.192);
  }

  .invalid-button:hover {
    background-color: rgb(15, 15, 15);
    color: white;
    border: #ff0000;
}
  
  .h4{
    text-align: center;
  }